<!DOCTYPE html>
<html>
<head>
  <title>form注册页</title>
  <meta http-equiv="keyworks" name="test">
  <meta http-equiv="content-TYPE" content="text/html;charset=utf-8">
  <!-- 
  <meta http-equiv="Refresh" content="5">
  <meta http-equiv="Refresh" content="30;URL=http://XXXX/"/>
   -->
  <link rel="stylesheet" type="text/css" href="css/common.css">
  <link rel="shortcut icon" href="images/header.ico">
</head>
<body>
<h1>Form 01</h1>
<form action='/from/' method='post'>
  <span>用户名:</span>{{data.username}}<br/>
  <span>邮箱:</span>{{data.email}}<br/>
  <input type="submit" value="提交" /><span>{{ status }}</span>
</form>

<h1>From 02</h1>
<form action='/from/' method='post'>
  {{data}}<br/>
  <input type="submit" value="提交" /><span>{{ status }}</span>
</form>

<h1>From 优化</h1>

</body>
</html>
